
@{
    ViewBag.Title = "ViewOrders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Orders</h2>

<table id="OrdersTable" class="table table-hover table-sm table-dark text-dark">
    <thead class="text-white">
        <tr>
            <th>Order ID</th>
            <th>Customer Name</th>
            <th>Order Date</th>
            <th>Shipped Date</th>
            <th>Pickup Address</th>
            <th>Shipping Address</th>
            <th>Weight</th>
            <th>Order Value</th>
            <th>Payment Status</th>
            <th>Tracking ID</th>
            <th>Order Status</th>
        </tr>
    </thead>
</table>

@section scripts{
    <script>
        $(document).ready(function () {
            datatable = $('#OrdersTable').DataTable({
                            "ajax": {
                                "url": "/SU/GetAllOrders",
                                "type": "GET",
                                "datatype": "json"
                            },
                            "columns": [
                                { "data": "OrderID" },
                                { "data": "CustomerName" },
                                { "data": "OrderDate" },
                                { "data": "ShippedDate" },
                                { "data": "PickupAddress" },
                                { "data": "ShippingAddress" },
                                {
                                    "data": "Weight",
                                    "render": function (data) {
                                        data = data + " kg";
                                        return data;
                                    }
                                },
                                {
                                    "data": "OrderValue",
                                    "render": function (data) {
                                        data = "₹ " + data;
                                        return data;
                                    }
                                },
                                { "data": "PaymentStatus" },
                                { "data": "TrackingID" },
                                { "data": "OrderStatus" }
                            ]
                        });
        });
    </script>
}