
@{
    ViewBag.Title = "MyOrders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Orders</h2>

<table id="OrdersTable" class="table table-sm table-dark text-dark">
    <thead class="text-white">
        <tr>
            <th>Order ID</th>
            <th>Order Date</th>
            <th>Shipped Date</th>
            <th>Pickup Address</th>
            <th>Shipping Address</th>
            <th>Weight</th>
            <th>Order Value</th>
            <th>Payment ID</th>
            <th>Tracking ID</th>
            <th></th>
        </tr>
    </thead>
</table>

@section scripts{
    <script>
        $(document).ready(function () {
            datatable = $('#OrdersTable').DataTable({
                            "ajax": {
                                "url": "/CUser/GetMYOrders",
                                "type": "GET",
                                "datatype": "json"
                            },
                            "columns": [
                                { "data": "OrderID" },
                                { "data": "OrderDate" },
                                {
                                    "data": "ShippedDate",
                                    "render": function (data) {
                                        if (data == null)
                                            return "Not Shipped";
                                        else
                                            return data;
                                    }
                                },
                                {
                                    "data": "PickupAddress",
                                    "width":"150px"
                                },
                                {
                                    "data": "ShippingAddress",
                                    "width":"150px"
                                },
                                {
                                    "data": "Weight",
                                    "render": function (data) {
                                        data = data + " kg";
                                        return data;
                                    }
                                },
                                {
                                    "data": "OrderValue",
                                    "render": function (data) {
                                        data = "₹ " + data;
                                        return data;
                                    }
                                },
                                { "data": "PaymentID" },
                                { "data": "TrackingID" },
                                {
                                    "data": "OrderID",
                                    "render": function (data) {
                                        return "<button class='btn btn-primary btn-sm' onclick=PopUpForm('@Url.Action("Track","CUser")/" + data + "')>Status</button> <button class='btn btn-primary btn-sm' onclick=PopUpForm('@Url.Action("Invoice","CUser")/" + data + "')>Invoice</button>";
                                    },
                                    "orderable": false,
                                    "searchable": false,
                                    "width":"140px",
                                }
                            ]
                        });
        });
        function PopUpForm(url) {
            var formDiv = $('<div/>');
            $.get(url)
                .done(function (response) {
                    formDiv.html(response);
                    popup = formDiv.dialog({
                        autoOpen: true,
                        draggable: false,
                        modal: true,
                        resizable: false,
                        title: 'Track Status',
                        autoResize: true,
                        close: function () {
                            popup.dialog('destroy').remove();
                        }
                    });
                });
        }
    </script>
}