
@{
    ViewBag.Title = "Contact Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Contact Us</h2>

<div class="col-lg-6">

    <h4 class="pt-5">Get in <strong>Touch</strong></h4>
    <p class="lead mb-0 text-4">If you have an inquiry about QuickDooCoo products and services, such as express document and parcel shipping, or our time and day definite express services, please complete the form provided or contact us using the given contact contact details.</p>

    <div class="appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="800">
        <h4 class="mt-2 mb-1">Our <strong>Office</strong></h4>
        <ul class="list list-icons list-icons-style-2 mt-2">
            <li><i class="fas fa-map-marker-alt top-6"></i> <strong class="text-dark">Address:</strong> 1234 Street Name, Ahmedabad, Gujarat 382470</li>
            <li><i class="fas fa-phone top-6"></i> <strong class="text-dark">Phone:</strong> (123) 456-789</li>
            <li><i class="fas fa-envelope top-6"></i> <strong class="text-dark">Email:</strong> <a href="mailto:rrsharma1499@gmail.com">rrsharma1499@gmail.com</a></li>
        </ul>
    </div>

</div>