
@{
	ViewBag.Title = "Features";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="offset-md-1 col-md-10 text-md-center">
        <h1>Features</h1>
        <div class="card text-white bg-info mb-3" style="max-width: 40rem; margin:auto;">
            <div class="card-header"><h4 class="card-title">Customer Support</h4></div>
            <div class="card-body">
                <p class="card-text">Every day, all over the globe, our connections enable possibilities for people, communities, small businesses and global enterprises.</p>
            </div>
        </div>

        <div class="card text-white bg-info mb-3" style="max-width: 40rem; margin:auto;">
            <div class="card-header"><h4 class="card-title">Policy</h4></div>
            <div class="card-body">
                <p class="card-text">QuickDooCoo is commited to deliver courier services with pledge for superiority and timely services to all members of society.</p>
            </div>
        </div>

        <div class="card text-white bg-info mb-3" style="max-width: 40rem; margin:auto;">
            <div class="card-header"><h4 class="card-title">Establishment and Existence</h4></div>
            <div class="card-body">
                <p class="card-text">QuickDooCoo is a Private Limited Company incorporated under The Companies Act, 1956. The period of subsistence proves the rapidity of services and benevolence.</p>
            </div>
        </div>

        <div class="card text-white bg-info mb-3" style="max-width: 40rem; margin:auto;">
            <div class="card-header"><h4 class="card-title">Festive Rates</h4></div>
            <div class="card-body">
                <p class="card-text">Get discounts on larger and bulk shipments.</p>
            </div>
        </div>
    </div>