
@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="offset-md-1 col-md-10 text-md-center">
        <h1>Services</h1>
        <div class="card border-primary mb-3" style="max-width: 40rem; margin:auto;">
            <div class="card-header"><h4 class="card-title">Priority Overnight</h4></div>
            <div class="card-body">
                <p class="card-text">An intra-India door-to-door express delivery service for all your documents and non-commercial consignments, next business day to select destinations and typically 2 – 3 business days to other destinations.</p>
            </div>
        </div>

        <div class="card border-primary mb-3" style="max-width: 40rem; margin:auto;">
            <div class="card-header"><h4 class="card-title">Pickup Service</h4></div>
            <div class="card-body">
                <p class="card-text">Save your time using our Schedule Pick-Up services with QuickDooCoo. Book Couriers Online and arrange free Pickups across India.</p>
            </div>
        </div>

        <div class="card border-primary mb-3" style="max-width: 40rem; margin:auto;">
            <div class="card-header"><h4 class="card-title">Packaging Service</h4></div>
            <div class="card-body">
                <p class="card-text">At QuickDooCoo we understand that safe packaging is imperative to the swift delivery of your shipment. Therefore we have designed a new range of QuickDooCoo packaging boxes to suit your needs and handle your shipment with utmost care.</p>
            </div>
        </div>
    </div>